@use "../abstracts" as *;

#visitorHomePage {
  // brick wall
  .brick-wall {
    background: url("/images/bricks.webp"), rgba(238, 221, 187, 0.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 142px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    flex-direction: row;
    h1 {
      color: $primary-default;
    }
    .find-out-btn {
      box-shadow: 0px 1px 1px 0px #00000040;
      color: $text-white;
      font-size: 12px;
      font-weight: 700;
      border-radius: 2px;
      background-color: $primary-default;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
  //   slider
  .sliders-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $background-normal;
    overflow: hidden;
    padding: 4.2vh 0;

    .slider1,
    .slider2 {
      display: flex;
      width: calc(30vh * 12);
      perspective: 100px;
      animation-duration: 50s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      &:hover {
        animation-play-state: paused;
      }
    }

    .slider1 {
      animation-name: slideLeft;
      margin-bottom: 5vh;
    }

    .slider2 {
      animation-name: slideRight;
    }

    .slide {
      height: 17vh;
      width: 30vh;
      perspective: 100px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        padding: 0 1.75vh;
        transition: transform 0.3s ease;
        filter: drop-shadow(-5px -5px 5px rgba(0, 0, 0, 0.3));
        cursor: pointer;

        &:hover {
          transform: translateZ(20px);
        }
      }
    }
  }

  @keyframes slideLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-30vh * 3));
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(calc(-30vh * 3));
    }
    100% {
      transform: translateX(0);
    }
  }
}
