// variables

// Colors

$background-normal: #edd5bb;
$background-dark: #e09686;
$background-gray: #e5e5e5;
$background-light: #fcebd5;
$primary-contrast: #d44c2e;
$primary-blue: #1b59ac;
$primary-default: #a16a5e;
$primary-green: #1bac6f;
$text-muted: #b9b9b9;
$text-default: #5a5a5a;
$text-white: #f8f8f8;
$text-black: #000000;
